  <% 
  
  let results='' ; a=toRender.docs; results +=` <table id='footballTable'>
  <tr>
    <th onclick="sortTable(0)">Rank</th>
    <th onclick="sortTable(1)">Name</th>
    <th onclick="sortTable(2)">Points</th>
    <th onclick="sortTable(3)">Country</th>
  </tr>
  `;

  a.forEach((item) => {
  results += `
  <tr>
    <td>${item.rank}</td>
    <td>${item.name}</td>
    <td>${item.points}</td>
    <td>${item.country}</td>
  </tr>
  `;
  });


  console.log('######################################################################################')
  count = 1;
  if (a.length == 1) {
    count = 2;
  } else {

    for (let i = 0; i < (a.length-1); i++) {
      console.log('count = ' + count);
      console.log('country = ' + a[i].country);
      if (a[i].country != a[i+1].country) {
        count++;
      }
    }
  }
  let suggestion;
  if(count > 1){
    suggestion = a[0].country
    console.log(count + '-' + suggestion);
  }
  
  %>

  <head>
    <link rel="stylesheet" href="style.css" type="text/css">
    <meta charset="UTF-8">
    <title>IR</title>
  </head>

  <body class="container">

    <!-- <header>
      <%- include('./includes/header'); %>
    </header> -->

    <main class="content">
      <div>
        <h1>DO THE THING</h1>
      </div>
      <!-- <div> -->
        <!-- <form action="/get/europe"><button class="butto">Europe</button></form> -->
        <!-- <button class="butto" onclick="sort_by_continent('Europe')">Europe</button> -->
        <!-- <button class="butto" onclick="sort_by_continent('Africa')">Africa</button> -->
        <!-- <button class="butto" onclick="sort_by_continent('Asia')">Asia</button> -->
        <!-- <button class="butto" onclick="sort_by_continent('America')">America</button> -->
        <!-- <button class="butto" onclick="sort_by_continent('Oceania')">Oceania</button> -->
      <!-- </div> -->
      <div>
        <form action="/get" method="GET">
          <div>
            <select class="butto" name="selector">
              <option value="all">All</option>
              <option value="name">Name</option>
              <option value="country">Country</option>
              <option value="rank">Rank</option>
            </select>
            <input class="butto" id="example" type="value" name="value" />
            <input class='butto' type="submit" value="Submit">
          </div>
        </form>
      </div>
      <div>
        <%- results %>
      </div>
      <div>
        You might be interested in other teams from <button class="butto" id="asd"><%- suggestion %></button>
      </div>
      <script>

        document.getElementById("asd").addEventListener("click", function(){
          let asd = "<%- suggestion %>";
          console.log(asd);
          // fetch('/get' + asd, {
            // method: 'GET',
            // headers: {
              // 'Content-Type': 'application/json'
            // }
          // })
          fetch('/get?' + new URLSearchParams({
            selector: 'all',
            value: asd
          }))
          .then((response) => {
            console.log(response.url);
            window.location.replace(response.url);
          })
          // .then((data) => {
            // console.log(data);
            // let results = '';
            // console.log('data body: ' + data.body);
            // data.body.forEach((item) => {
              // results += `
              // <tr>
                // <td>${item.rank}</td>
                // <td>${item.name}</td>
                // <td>${item.points}</td>
                // <td>${item.country}</td>
              // </tr>
              // `;
            // });
            // document.getElementById('footballTable').innerHTML = results;
          // }).catch((err) => {
            // console.log(err);
          // })
          });
        

        function sortTable(n) {
          console.log('here');
          var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
          table = document.getElementById("footballTable");
          switching = true;
          //Set the sorting direction to ascending:
          dir = "asc";
          /*Make a loop that will continue until
          no switching has been done:*/
          while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
              //start by saying there should be no switching:
              shouldSwitch = false;
              /*Get the two elements you want to compare,
              one from current row and one from the next:*/
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
              /*check if the two rows should switch place,
              based on the direction, asc or desc:*/
              if (dir == "asc") {
                if (parseInt(x.innerHTML) === NaN) {
                  if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                  }
                } else {
                  if (parseInt(x.innerHTML) > parseInt(y.innerHTML)) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                  }
                }
              } else if (dir == "desc") {
                if (parseInt(x.innerHTML) === NaN) {
                  if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                  }
                } else {
                  if (parseInt(x.innerHTML) < parseInt(y.innerHTML)) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                  }
                }
              }
            }
            if (shouldSwitch) {
              /*If a switch has been marked, make the switch
              and mark that a switch has been done:*/
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
              //Each time a switch is done, increase this count by 1:
              switchcount++;
            } else {
              /*If no switching has been done AND the direction is "asc",
              set the direction to "desc" and run the while loop again.*/
              if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
              }
            }
          }
        }
      
      </script>
    </main>

    <footer>
      <%- include('./includes/footer'); %>
    </footer>

  </body>